/* css reset */
* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background-color: #a7d2cb;
}

img {
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: #b9fff8;
}

.navbar-brand {
  background-color: #6fedd6;
}

.breaking_news {
  width: 90%;
  height: 60vh;
  margin: auto;
}

.carousel-item img{ 
}
